.jumbotron {
    height: 400px;
    background-image: url("/img/jumbotron.jpg");
    background-size: cover;
    background-position: top;
}

.series-label {
    position: absolute;
    top: -20px;
    left: 0;
    background-color: #0282f9;
    color: white;
    padding: 8px 15px;
    font-weight: bold;
}

.card {
    border: none;
    background: transparent;
}

.card img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card-title {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.load-btn {
    background-color: #0282f9;
    color: white;
    padding: 8px 50px;
    font-weight: bold;
    border: none;
}

.hero-section {
    background-color: #0282f9;
}

.hero-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px 20px;
}

.hero-item img {
    height: 40px;
}

.hero-item span {
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.sfondo {
    background-image: url(/img/footer-bg.jpg);
}

.pin {
    list-style: none;
    margin-left: -30px;
}

.logo {
    width: 400px;
}